.root{
    -fx-padding: 25;
    -fx-background-color: linear-gradient(#888888 0%, #777777 50%, #666666 100%);
}

.label{
    -fx-text-fill: #dddddd;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: linear-gradient(#555555 0%, #666666 50%, #777777 100%);
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-border-color: #dddddd;
    -fx-text-fill: #dddddd;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-background-color: linear-gradient(#666666 0%, #777777 50%, #888888 100%);
    -fx-text-fill: white;
}

.scroll-pane .viewport{
    -fx-background-color: #555555;
}